<h1 style="text-align: center">Mini Medidata</h1><br>
<h3>Index</h3><br>
<ol>
    <li><%= link_to 'Study Groups and Studies', study_groups_path %></li>
    <li><%= link_to 'Subject Creation', subjects_path  %></li>
    <li><%= link_to 'Enrollments', new_enrollment_path %></li>
<ol>
