<h1> Study Groups </h1>
<br>
<%= link_to 'Add study group', new_study_group_path %>
<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Actions </th>
    </tr>
    <% @study_groups.each do |s| %>
        <%= render partial: 'study_group', locals:{s:s} %>
    <% end %>
</table><br>
<%= link_to '<< Back to Main Menu', root_path %>
