<h2>Enrollment confirmed and successfull!</h2>
Congratuations!
Mr/Ms <%= @subject.name %>, you have been successfully enrolled in a Study with following details:<br>
Study name: <u><%= @study.name %></u><br>
Enrollment id: <u><%= @enrollment.id %></u>
