<h1> Studies</h1>
<%= link_to 'Add Study', new_study_group_study_path(params[:study_group_id]) %>
<br>
<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Age Limit </th>
        <th> Drug </th>
        <th> Phase </th>
        <th> Symptoms </th>
        <th> Study group Id </th>
        <th> Image </th>
        <th> Actions </th>
    </tr>
    <%= cache @studies do %>
        <% @studies.each do |s| %>
            <%= render partial: 'study', locals:{s:s} %>
        <% end %>
    <% end %>
</table><br>
<%= link_to '<< Back to Study Groups', study_groups_path %>